/* line 5, ../sass/app.scss */
nav#locations-nav {
  overflow: hidden;
  clear: both;
  display: block;
  width: 100%;
  border-bottom: 1px solid #EEE;
  margin-bottom: 20px;
}
/* line 14, ../sass/app.scss */
nav#locations-nav a.tab {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  margin: 10px 10px 0px 0px;
  padding: 20px 30px;
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid #DDD;
  max-width: 200px;
  text-align: center;
  float: left;
  background-color: #FFF;
  border-bottom: 0px;
  color: #444;
}
/* line 32, ../sass/app.scss */
nav#locations-nav a.tab:hover {
  background-color: white;
  color: #5e5e5e;
}
/* line 38, ../sass/app.scss */
nav#locations-nav a.tab.current {
  -webkit-box-shadow: 3px 3px 10px -3px black;
  -moz-box-shadow: 3px 3px 10px -3px black;
  box-shadow: 3px 3px 10px -3px black;
  background-color: #338efd;
  color: #FFF;
}

/* line 47, ../sass/app.scss */
div#locations_list tbody tr:hover {
  background-color: #fff;
  cursor: pointer;
}
/* line 51, ../sass/app.scss */
div#locations_list tbody td {
  vertical-align: middle;
}
/* line 54, ../sass/app.scss */
div#locations_list tbody td.red {
  background-color: red;
  color: #FFF;
}

/* line 59, ../sass/app.scss */
.col-1, .col-2 {
  position: relative;
  -webkit-box-shadow: 0px 0px 8px -4px #666666;
  -moz-box-shadow: 0px 0px 8px -4px #666666;
  box-shadow: 0px 0px 8px -4px #666666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  float: left;
  width: 35%;
  border: 1px solid #EEE;
  padding: 25px;
}
/* line 68, ../sass/app.scss */
.col-1 input[type=submit], .col-1 #map_preview_button, .col-2 input[type=submit], .col-2 #map_preview_button {
  margin-top: 20px;
}

/* line 75, ../sass/app.scss */
.col-2 {
  margin-left: 10px;
  padding: 0px;
  display: table;
}
/* line 82, ../sass/app.scss */
.col-2 #map_preview {
  display: table-cell;
  height: 220px;
  vertical-align: middle;
  text-align: center;
  color: #DDD;
}

/* line 91, ../sass/app.scss */
div.edit-location {
  display: none;
  top: 152px;
  right: 0px;
  position: fixed;
  width: 50%;
  padding: 15px 30px;
  background-color: #6195A8;
}
/* line 100, ../sass/app.scss */
div.edit-location label {
  text-transform: uppercase;
  color: #fff;
}
/* line 106, ../sass/app.scss */
div.edit-location div {
  padding-top: 10px;
  width: 33%;
  float: left;
}
/* line 111, ../sass/app.scss */
div.edit-location input[type=text] {
  width: 93%;
  font-size: 16px;
}
/* line 115, ../sass/app.scss */
div.edit-location input.button {
  margin: 10px;
  float: right;
}
/* line 119, ../sass/app.scss */
div.edit-location span.x {
  color: #FFF;
  padding: 2px 6px;
  border: 1px solid #EEE;
  position: Absolute;
  right: 16px;
}
/* line 127, ../sass/app.scss */
div.edit-location span.x:hover {
  background-color: #EEE;
  color: #000;
  cursor: pointer;
}
/* line 133, ../sass/app.scss */
div.edit-location h2 {
  color: #EEE;
}

/* line 139, ../sass/app.scss */
.dataTables_length {
  margin-right: 20px;
}

/* line 142, ../sass/app.scss */
.dataTables_length, .dataTables_filter {
  float: left;
}

/* line 145, ../sass/app.scss */
.dataTables_info {
  padding: 10px;
}

/* line 149, ../sass/app.scss */
#print_locations_paginate {
  position: absolute;
  bottom: 40px;
}
/* line 152, ../sass/app.scss */
#print_locations_paginate a {
  background-color: #338efd;
  color: #FFF;
  font-size: 16px;
  padding: 5px 10px;
  margin: 5px;
}
/* line 158, ../sass/app.scss */
#print_locations_paginate a:hover {
  background-color: #66aafd;
  cursor: pointer;
}

/* line 164, ../sass/app.scss */
#loader {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 50%;
}
